# CreditOne Preprocessing
Class 5 Task 3

#### Import modules

In [1]:
#imports
#numpy,pandas,scipy,math,matplotlib
import numpy as np
import pandas as pd
import scipy

#### import data

In [104]:
#data
rawData = pd.read_csv('default of credit card clients.csv', header=1)
rawData.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,4810,500000,1,3,3,53,0,0,0,0,...,125218,126650,114473,12602,11000,4711,6000,11000,10000,0
1,15096,500000,1,1,3,38,-2,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,1
2,81,470000,2,3,3,33,0,0,0,0,...,69923,29271,29889,6400,7566,3000,960,1000,3000,0
3,14889,450000,2,1,3,37,1,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,0
4,11072,450000,1,1,3,37,-2,-2,-2,-2,...,317,1614,324,303,5041,1,1622,325,316,0

In [105]:
df = rawData

In [118]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 24 columns):
ID                            30000 non-null int64
LIMIT_BAL                     30000 non-null int64
SEX                           30000 non-null int64
EDUCATION                     30000 non-null int64
MARRIAGE                      30000 non-null int64
PAY_0                         30000 non-null int64
PAY_2                         30000 non-null int64
PAY_3                         30000 non-null int64
PAY_4                         30000 non-null int64
PAY_5                         30000 non-null int64
PAY_6                         30000 non-null int64
BILL_AMT1                     30000 non-null int64
BILL_AMT2                     30000 non-null int64
BILL_AMT3                     30000 non-null int64
BILL_AMT4                     30000 non-null int64
BILL_AMT5                     30000 non-null int64
BILL_AMT6                     30000 non-null int64
PAY_AMT1                      30000 non-null int64
PAY_AMT2                      30000 non-null int64
PAY_AMT3                      30000 non-null int64
PAY_AMT4                      30000 non-null int64
PAY_AMT5                      30000 non-null int64
PAY_AMT6                      30000 non-null int64
default payment next month    30000 non-null int64
dtypes: int64(24)
memory usage: 5.5 MB

In [107]:
df['AGE'] = pd.cut(df['AGE'], [20,30,40,50,60,70,80],labels=['20-30','30-40','40-50', '50-60', '60-70','80-70'])

In [108]:
#df.SEX = df.SEX.astype('category')
#df.EDUCATION = df.EDUCATION.astype('category')
#df.MARRIAGE = df.MARRIAGE.astype('category')
df.AGE_bin = df.AGE.astype('category')

In [109]:
df.AGE.value_counts()

20-30    11013
30-40    10713
40-50     6005
50-60     1997
60-70      257
80-70       15
Name: AGE, dtype: int64

In [110]:
df.SEX.value_counts()

2    18112
1    11888
Name: SEX, dtype: int64

In [111]:
df.EDUCATION.value_counts()

2    14030
1    10585
3     4917
4      468
Name: EDUCATION, dtype: int64

In [112]:
df.MARRIAGE.value_counts()

2    15964
1    13659
3      323
0       54
Name: MARRIAGE, dtype: int64

In [113]:
SEX_dummies = pd.get_dummies(df['SEX'],prefix = "SEX", columns=None, sparse=False, drop_first=False)
MARRIAGE_dummies = pd.get_dummies(df['MARRIAGE'],prefix = "MARRIAGE", columns=None, sparse=False, drop_first=False)
EDUCATION_dummies = pd.get_dummies(df['EDUCATION'],prefix = "EDUCATION", columns=None, sparse=False, drop_first=False)
AGE_dummies = pd.get_dummies(df['AGE'],prefix = "AGE", columns=None, sparse=False, drop_first=False)

In [139]:
#MARRIAGE_dummies
#EDUCATION_dummies
#AGE_dummies
#SEX_dummies

NameError: name 'Print' is not defined

In [121]:
del df['MARRIAGE']
#del df['SEX']
#del df['EDUCATION']
#del df['AGE']

In [144]:
df3=df3.join(MARRIAGE_dummies)
#df3=df3.join(EDUCATION_dummies)
#df3=df3.join(AGE_dummies)
#df3=df2.join(SEX_dummies)

In [145]:
df=df3

In [147]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 37 columns):
ID                            30000 non-null int64
LIMIT_BAL                     30000 non-null int64
PAY_0                         30000 non-null int64
PAY_2                         30000 non-null int64
PAY_3                         30000 non-null int64
PAY_4                         30000 non-null int64
PAY_5                         30000 non-null int64
PAY_6                         30000 non-null int64
BILL_AMT1                     30000 non-null int64
BILL_AMT2                     30000 non-null int64
BILL_AMT3                     30000 non-null int64
BILL_AMT4                     30000 non-null int64
BILL_AMT5                     30000 non-null int64
BILL_AMT6                     30000 non-null int64
PAY_AMT1                      30000 non-null int64
PAY_AMT2                      30000 non-null int64
PAY_AMT3                      30000 non-null int64
PAY_AMT4                      30000 non-null int64
PAY_AMT5                      30000 non-null int64
PAY_AMT6                      30000 non-null int64
default payment next month    30000 non-null int64
SEX_1                         30000 non-null uint8
SEX_2                         30000 non-null uint8
AGE_20-30                     30000 non-null uint8
AGE_30-40                     30000 non-null uint8
AGE_40-50                     30000 non-null uint8
AGE_50-60                     30000 non-null uint8
AGE_60-70                     30000 non-null uint8
AGE_80-70                     30000 non-null uint8
EDUCATION_1                   30000 non-null uint8
EDUCATION_2                   30000 non-null uint8
EDUCATION_3                   30000 non-null uint8
EDUCATION_4                   30000 non-null uint8
MARRIAGE_0                    30000 non-null uint8
MARRIAGE_1                    30000 non-null uint8
MARRIAGE_2                    30000 non-null uint8
MARRIAGE_3                    30000 non-null uint8
dtypes: int64(21), uint8(16)
memory usage: 5.3 MB

In [148]:
#move default column to end

#make an array of column names
cols = df.columns.tolist()

#move default to the end
cols.insert(36, cols.pop(cols.index('default payment next month')))
cols

['ID',
 'LIMIT_BAL',
 'PAY_0',
 'PAY_2',
 'PAY_3',
 'PAY_4',
 'PAY_5',
 'PAY_6',
 'BILL_AMT1',
 'BILL_AMT2',
 'BILL_AMT3',
 'BILL_AMT4',
 'BILL_AMT5',
 'BILL_AMT6',
 'PAY_AMT1',
 'PAY_AMT2',
 'PAY_AMT3',
 'PAY_AMT4',
 'PAY_AMT5',
 'PAY_AMT6',
 'SEX_1',
 'SEX_2',
 'AGE_20-30',
 'AGE_30-40',
 'AGE_40-50',
 'AGE_50-60',
 'AGE_60-70',
 'AGE_80-70',
 'EDUCATION_1',
 'EDUCATION_2',
 'EDUCATION_3',
 'EDUCATION_4',
 'MARRIAGE_0',
 'MARRIAGE_1',
 'MARRIAGE_2',
 'MARRIAGE_3',
 'default payment next month']

In [149]:
df.shape

(30000, 37)

In [150]:
df.to_csv('out.csv')